In [1]:
import numpy as np
import pandas as pd
df_1=pd.read_csv('Time_data.csv',usecols=['Sl.No','Lane','VehicleType','Entry','Exit'])
df_2=pd.read_csv('Area_data.csv')

In [2]:
def diff(a,b):
    return a-b
df_1.insert(5,column='TravelTime',value=diff(df_1['Exit'],df_1['Entry']))

In [3]:
def speed(a):
    return 223.2/a
df_1.insert(6,column='Speed(kmph)',value=speed(df_1['TravelTime']))

In [4]:
def interval(a):
    return a*300
df_1.insert(7,column='Time Interval',value=interval(df_1['Sl.No']))
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval
0,1,1,3,0.93,4.37,3.44,64.883721,300
1,2,1,3,10.77,16.27,5.50,40.581818,600
2,3,1,3,16.33,21.97,5.64,39.574468,900
3,4,1,3,32.20,36.37,4.17,53.525180,1200
4,5,1,4,34.20,41.17,6.97,32.022956,1500
...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200

In [5]:
new_col=['CumulativeEntryFlow']
df_1['CumulativeEntryFlow'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Entry'][j] <= df_1['Time Interval'][i]:
           df_1['CumulativeEntryFlow'][i] = df_1['CumulativeEntryFlow'][i]+1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\199317439.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['CumulativeEntryFlow'][i] = df_1['CumulativeEntryFlow'][i]+1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow
0,1,1,3,0.93,4.37,3.44,64.883721,300,52
1,2,1,3,10.77,16.27,5.50,40.581818,600,84
2,3,1,3,16.33,21.97,5.64,39.574468,900,136
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226
...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0

In [6]:
new_col=['CumulativeExitFlow']
df_1['CumulativeExitFlow'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i]:
           df_1['CumulativeExitFlow'][i] = df_1['CumulativeExitFlow'][i]+1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\12563857.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['CumulativeExitFlow'][i] = df_1['CumulativeExitFlow'][i]+1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225
...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0

In [7]:
new_col=['EntryFlow/Interval']
df_1['EntryFlow/Interval'] = df_1['CumulativeEntryFlow'].shift(0).diff()
df_1['EntryFlow/Interval'][0] = 52
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3961037468.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['EntryFlow/Interval'][0] = 52

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0
...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0

In [8]:
new_col=['ExitFlow/Interval']
df_1['ExitFlow/Interval'] = df_1['CumulativeExitFlow'].shift(0).diff()
df_1['ExitFlow/Interval'][0] = 49
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1208682577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['ExitFlow/Interval'][0] = 49

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0

In [9]:
new_col=['Travel Time in one minute']
df_1['Travel Time in one minute'] = 0.0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i]:
           df_1['Travel Time in one minute'][i] = df_1['Travel Time in one minute'][i]+df_1['TravelTime'][j]
        else:
            break
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3595684971.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Travel Time in one minute'][i] = df_1['Travel Time in one minute'][i]+df_1['TravelTime'][j]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00

In [10]:
new_col=['Travel Time in one minute(interval wise)']
df_1['Travel Time in one minute(interval wise)'] = df_1['Travel Time in one minute'].shift(0).diff()
df_1['Travel Time in one minute(interval wise)'][0] = df_1['Travel Time in one minute'][0]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\871240178.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Travel Time in one minute(interval wise)'][0] = df_1['Travel Time in one minute'][0]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise)
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00

In [11]:
def Avg(a,b):
    return a/b
df_1.insert(14,column='Avg Travel Time in one minute',value=Avg(df_1['Travel Time in one minute(interval wise)'],df_1['ExitFlow/Interval']))
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise),Avg Travel Time in one minute
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71,6.259388
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04,5.148235
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73,6.249608
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04,5.396667
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16,4.794419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00,NaN

In [12]:
def sms(a):
    return 223.2/a
df_1.insert(15,column='SMS',value=sms(df_1['Avg Travel Time in one minute']))
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise),Avg Travel Time in one minute,SMS
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71,6.259388,35.658440
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04,5.148235,43.354662
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73,6.249608,35.714241
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04,5.396667,41.358863
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16,4.794419,46.554133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00,NaN,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00,NaN,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00,NaN,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00,NaN,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00,NaN,NaN

In [13]:
def EFPH(a):
    return a*60
df_1.insert(16,column='Exit Flow Per Hour',value=EFPH(df_1['ExitFlow/Interval']))
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise),Avg Travel Time in one minute,SMS,Exit Flow Per Hour
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71,6.259388,35.658440,2940.0
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04,5.148235,43.354662,2040.0
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73,6.249608,35.714241,3060.0
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04,5.396667,41.358863,2880.0
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16,4.794419,46.554133,2580.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0

In [14]:
new_col=['Small Car']
df_1['Small Car'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==1:
           df_1['Small Car'][i] = df_1['Small Car'][i]+1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1251358351.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Small Car'][i] = df_1['Small Car'][i]+1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise),Avg Travel Time in one minute,SMS,Exit Flow Per Hour,Small Car
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71,6.259388,35.658440,2940.0,8
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04,5.148235,43.354662,2040.0,12
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73,6.249608,35.714241,3060.0,23
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04,5.396667,41.358863,2880.0,34
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16,4.794419,46.554133,2580.0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0

In [15]:
new_col=['Big Car']
df_1['Big Car'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==2:
           df_1['Big Car'][i] = df_1['Big Car'][i]+1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2633847928.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Big Car'][i] = df_1['Big Car'][i]+1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,EntryFlow/Interval,ExitFlow/Interval,Travel Time in one minute,Travel Time in one minute(interval wise),Avg Travel Time in one minute,SMS,Exit Flow Per Hour,Small Car,Big Car
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,52.0,49.0,306.71,306.71,6.259388,35.658440,2940.0,8,8
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,32.0,34.0,481.75,175.04,5.148235,43.354662,2040.0,12,16
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,52.0,51.0,800.48,318.73,6.249608,35.714241,3060.0,23,29
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,48.0,48.0,1059.52,259.04,5.396667,41.358863,2880.0,34,45
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,42.0,43.0,1265.68,206.16,4.794419,46.554133,2580.0,41,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0,0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0,0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0,0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0,0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,0.0,0.0,0.00,0.00,NaN,NaN,0.0,0,0

In [16]:
new_col=['Two Wheeler']
df_1['Two Wheeler'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==3:
           df_1['Two Wheeler'][i] = df_1['Two Wheeler'][i]+1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1675739164.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Two Wheeler'][i] = df_1['Two Wheeler'][i]+1

In [17]:
new_col=['LCV']
df_1['LCV'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==4:
           df_1['LCV'][i] = df_1['LCV'][i]+1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2948836817.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['LCV'][i] = df_1['LCV'][i]+1

In [18]:
new_col=['Bus']
df_1['Bus'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==5:
           df_1['Bus'][i] = df_1['Bus'][i]+1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3659095477.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Bus'][i] = df_1['Bus'][i]+1

In [19]:
new_col=['Single Axle']
df_1['Single Axle'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==6:
           df_1['Single Axle'][i] = df_1['Single Axle'][i]+1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1913037099.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Single Axle'][i] = df_1['Single Axle'][i]+1

In [20]:
new_col=['Multi Axle']
df_1['Multi Axle'] = 0
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==7:
           df_1['Multi Axle'][i] = df_1['Multi Axle'][i]+1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2202649595.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Multi Axle'][i] = df_1['Multi Axle'][i]+1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Avg Travel Time in one minute,SMS,Exit Flow Per Hour,Small Car,Big Car,Two Wheeler,LCV,Bus,Single Axle,Multi Axle
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,6.259388,35.658440,2940.0,8,8,26,1,2,3,1
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,5.148235,43.354662,2040.0,12,16,44,2,2,5,2
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,6.249608,35.714241,3060.0,23,29,60,5,5,7,5
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,5.396667,41.358863,2880.0,34,45,75,5,6,10,7
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,4.794419,46.554133,2580.0,41,59,94,6,6,12,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,NaN,NaN,0.0,0,0,0,0,0,0,0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,NaN,NaN,0.0,0,0,0,0,0,0,0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,NaN,NaN,0.0,0,0,0,0,0,0,0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,NaN,NaN,0.0,0,0,0,0,0,0,0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,NaN,NaN,0.0,0,0,0,0,0,0,0

In [21]:
new_col=['Small Car interval wise']
df_1['Small Car interval wise'] = df_1['Small Car'].shift(0).diff()
df_1['Small Car interval wise'][0] = 8

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\829094114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Small Car interval wise'][0] = 8

In [22]:
new_col=['Big Car interval wise']
df_1['Big Car interval wise'] = df_1['Big Car'].shift(0).diff()
df_1['Big Car interval wise'][0] = 8

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1809023534.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Big Car interval wise'][0] = 8

In [23]:
new_col=['Two Wheeler interval wise']
df_1['Two Wheeler interval wise'] = df_1['Two Wheeler'].shift(0).diff()
df_1['Two Wheeler interval wise'][0] = 26

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\633624770.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Two Wheeler interval wise'][0] = 26

In [24]:
new_col=['LCV interval wise']
df_1['LCV interval wise'] = df_1['LCV'].shift(0).diff()
df_1['LCV interval wise'][0] = 1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3105204274.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['LCV interval wise'][0] = 1

In [25]:
new_col=['Bus interval wise']
df_1['Bus interval wise'] = df_1['Bus'].shift(0).diff()
df_1['Bus interval wise'][0] = 2

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\823420271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Bus interval wise'][0] = 2

In [26]:
new_col=['Single Axle interval wise']
df_1['Single Axle interval wise'] = df_1['Single Axle'].shift(0).diff()
df_1['Single Axle interval wise'][0] = 3

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\443395006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Single Axle interval wise'][0] = 3

In [27]:
new_col=['Multi Axle interval wise']
df_1['Multi Axle interval wise'] = df_1['Multi Axle'].shift(0).diff()
df_1['Multi Axle interval wise'][0] = 1
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2409129951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Multi Axle interval wise'][0] = 1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Bus,Single Axle,Multi Axle,Small Car interval wise,Big Car interval wise,Two Wheeler interval wise,LCV interval wise,Bus interval wise,Single Axle interval wise,Multi Axle interval wise
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,2,3,1,8.0,8.0,26.0,1.0,2.0,3.0,1.0
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,2,5,2,4.0,8.0,18.0,1.0,0.0,2.0,1.0
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,5,7,5,11.0,13.0,16.0,3.0,3.0,2.0,3.0
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,6,10,7,11.0,16.0,15.0,0.0,1.0,3.0,2.0
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,6,12,7,7.0,14.0,19.0,1.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
new_col=['Cumulative Speed of Small Car']
df_1['Cumulative Speed of Small Car'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==1:
           df_1['Cumulative Speed of Small Car'][i] = df_1['Cumulative Speed of Small Car'][i]+df_1['Speed(kmph)'][j]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\673652128.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Small Car'][i] = df_1['Cumulative Speed of Small Car'][i]+df_1['Speed(kmph)'][j]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Single Axle,Multi Axle,Small Car interval wise,Big Car interval wise,Two Wheeler interval wise,LCV interval wise,Bus interval wise,Single Axle interval wise,Multi Axle interval wise,Cumulative Speed of Small Car
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,3,1,8.0,8.0,26.0,1.0,2.0,3.0,1.0,374.858975
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,5,2,4.0,8.0,18.0,1.0,0.0,2.0,1.0,537.574206
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,7,5,11.0,13.0,16.0,3.0,3.0,2.0,3.0,995.774095
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,10,7,11.0,16.0,15.0,0.0,1.0,3.0,2.0,1570.404227
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,12,7,7.0,14.0,19.0,1.0,0.0,2.0,0.0,1954.053628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [29]:
new_col=['Cumulative Speed of Big Car']
df_1['Cumulative Speed of Big Car'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==2:
           df_1['Cumulative Speed of Big Car'][i] = df_1['Cumulative Speed of Big Car'][i]+df_1['Speed(kmph)'][j]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1515082998.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Big Car'][i] = df_1['Cumulative Speed of Big Car'][i]+df_1['Speed(kmph)'][j]

In [30]:
new_col=['Cumulative Speed of Two Wheeler']
df_1['Cumulative Speed of Two Wheeler'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==3:
           df_1['Cumulative Speed of Two Wheeler'][i] = df_1['Cumulative Speed of Two Wheeler'][i]+df_1['Speed(kmph)'][j]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2659255680.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Two Wheeler'][i] = df_1['Cumulative Speed of Two Wheeler'][i]+df_1['Speed(kmph)'][j]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Small Car interval wise,Big Car interval wise,Two Wheeler interval wise,LCV interval wise,Bus interval wise,Single Axle interval wise,Multi Axle interval wise,Cumulative Speed of Small Car,Cumulative Speed of Big Car,Cumulative Speed of Two Wheeler
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,8.0,8.0,26.0,1.0,2.0,3.0,1.0,374.858975,301.299903,1126.410810
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,4.0,8.0,18.0,1.0,0.0,2.0,1.0,537.574206,724.783020,1959.752272
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,11.0,13.0,16.0,3.0,3.0,2.0,3.0,995.774095,1370.750037,2701.720354
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,11.0,16.0,15.0,0.0,1.0,3.0,2.0,1570.404227,2251.217661,3445.539936
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,7.0,14.0,19.0,1.0,0.0,2.0,0.0,1954.053628,2985.005888,4340.916522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [31]:
new_col=['Cumulative Speed of LCV']
df_1['Cumulative Speed of LCV'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==4:
           df_1['Cumulative Speed of LCV'][i] = df_1['Cumulative Speed of LCV'][i]+df_1['Speed(kmph)'][j]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2136344422.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of LCV'][i] = df_1['Cumulative Speed of LCV'][i]+df_1['Speed(kmph)'][j]

In [32]:
new_col=['Cumulative Speed of Bus']
df_1['Cumulative Speed of Bus'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==5:
           df_1['Cumulative Speed of Bus'][i] = df_1['Cumulative Speed of Bus'][i]+df_1['Speed(kmph)'][j]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3776409605.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Bus'][i] = df_1['Cumulative Speed of Bus'][i]+df_1['Speed(kmph)'][j]

In [33]:
new_col=['Cumulative Speed of Single Axle']
df_1['Cumulative Speed of Single Axle'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==6:
           df_1['Cumulative Speed of Single Axle'][i] = df_1['Cumulative Speed of Single Axle'][i]+df_1['Speed(kmph)'][j]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2737126937.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Single Axle'][i] = df_1['Cumulative Speed of Single Axle'][i]+df_1['Speed(kmph)'][j]

In [34]:
new_col=['Cumulative Speed of Multi Axle']
df_1['Cumulative Speed of Multi Axle'] = 0.000
for i in range(87):
    for j in range(len(df_1)):
        if df_1['Exit'][j] <= df_1['Time Interval'][i] and df_1['VehicleType'][j]==7:
           df_1['Cumulative Speed of Multi Axle'][i] = df_1['Cumulative Speed of Multi Axle'][i]+df_1['Speed(kmph)'][j]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2073025242.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Multi Axle'][i] = df_1['Cumulative Speed of Multi Axle'][i]+df_1['Speed(kmph)'][j]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Bus interval wise,Single Axle interval wise,Multi Axle interval wise,Cumulative Speed of Small Car,Cumulative Speed of Big Car,Cumulative Speed of Two Wheeler,Cumulative Speed of LCV,Cumulative Speed of Bus,Cumulative Speed of Single Axle,Cumulative Speed of Multi Axle
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,2.0,3.0,1.0,374.858975,301.299903,1126.410810,32.022956,34.767461,65.064762,25.655172
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,0.0,2.0,1.0,537.574206,724.783020,1959.752272,67.849601,34.767461,137.331075,51.699513
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,3.0,2.0,3.0,995.774095,1370.750037,2701.720354,170.820041,118.627701,168.882323,120.479101
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,1.0,3.0,2.0,1570.404227,2251.217661,3445.539936,170.820041,134.570558,247.907284,154.225772
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,0.0,2.0,0.0,1954.053628,2985.005888,4340.916522,223.962898,134.570558,307.995356,154.225772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [35]:
new_col=['Cumulative Speed of Small Car interval wise']
df_1['Cumulative Speed of Small Car interval wise'] = df_1['Cumulative Speed of Small Car'].shift(0).diff()
df_1['Cumulative Speed of Small Car interval wise'][0] = df_1['Cumulative Speed of Small Car'][0]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3903061536.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Small Car interval wise'][0] = df_1['Cumulative Speed of Small Car'][0]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Single Axle interval wise,Multi Axle interval wise,Cumulative Speed of Small Car,Cumulative Speed of Big Car,Cumulative Speed of Two Wheeler,Cumulative Speed of LCV,Cumulative Speed of Bus,Cumulative Speed of Single Axle,Cumulative Speed of Multi Axle,Cumulative Speed of Small Car interval wise
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,3.0,1.0,374.858975,301.299903,1126.410810,32.022956,34.767461,65.064762,25.655172,374.858975
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,2.0,1.0,537.574206,724.783020,1959.752272,67.849601,34.767461,137.331075,51.699513,162.715232
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,2.0,3.0,995.774095,1370.750037,2701.720354,170.820041,118.627701,168.882323,120.479101,458.199889
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,3.0,2.0,1570.404227,2251.217661,3445.539936,170.820041,134.570558,247.907284,154.225772,574.630132
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,2.0,0.0,1954.053628,2985.005888,4340.916522,223.962898,134.570558,307.995356,154.225772,383.649401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [36]:
new_col=['Cumulative Speed of Big Car interval wise']
df_1['Cumulative Speed of Big Car interval wise'] = df_1['Cumulative Speed of Big Car'].shift(0).diff()
df_1['Cumulative Speed of Big Car interval wise'][0] = df_1['Cumulative Speed of Big Car'][0]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1453818695.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Big Car interval wise'][0] = df_1['Cumulative Speed of Big Car'][0]

In [37]:
new_col=['Cumulative Speed of Two Wheeler interval wise']
df_1['Cumulative Speed of Two Wheeler interval wise'] = df_1['Cumulative Speed of Two Wheeler'].shift(0).diff()
df_1['Cumulative Speed of Two Wheeler interval wise'][0] = df_1['Cumulative Speed of Two Wheeler'][0]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1492944397.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Two Wheeler interval wise'][0] = df_1['Cumulative Speed of Two Wheeler'][0]

In [38]:
new_col=['Cumulative Speed of LCV interval wise']
df_1['Cumulative Speed of LCV interval wise'] = df_1['Cumulative Speed of LCV'].shift(0).diff()
df_1['Cumulative Speed of LCV interval wise'][0] = df_1['Cumulative Speed of LCV'][0]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2253628964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of LCV interval wise'][0] = df_1['Cumulative Speed of LCV'][0]

In [39]:
new_col=['Cumulative Speed of Bus interval wise']
df_1['Cumulative Speed of Bus interval wise'] = df_1['Cumulative Speed of Bus'].shift(0).diff()
df_1['Cumulative Speed of Bus interval wise'][0] = df_1['Cumulative Speed of Bus'][0]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\3577621054.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Bus interval wise'][0] = df_1['Cumulative Speed of Bus'][0]

In [40]:
new_col=['Cumulative Speed of Single Axle interval wise']
df_1['Cumulative Speed of Single Axle interval wise'] = df_1['Cumulative Speed of Single Axle'].shift(0).diff()
df_1['Cumulative Speed of Single Axle interval wise'][0] = df_1['Cumulative Speed of Single Axle'][0]

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\920901017.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Single Axle interval wise'][0] = df_1['Cumulative Speed of Single Axle'][0]

In [41]:
new_col=['Cumulative Speed of Multi Axle interval wise']
df_1['Cumulative Speed of Multi Axle interval wise'] = df_1['Cumulative Speed of Multi Axle'].shift(0).diff()
df_1['Cumulative Speed of Multi Axle interval wise'][0] = df_1['Cumulative Speed of Multi Axle'][0]
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\1299606461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['Cumulative Speed of Multi Axle interval wise'][0] = df_1['Cumulative Speed of Multi Axle'][0]

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Cumulative Speed of Bus,Cumulative Speed of Single Axle,Cumulative Speed of Multi Axle,Cumulative Speed of Small Car interval wise,Cumulative Speed of Big Car interval wise,Cumulative Speed of Two Wheeler interval wise,Cumulative Speed of LCV interval wise,Cumulative Speed of Bus interval wise,Cumulative Speed of Single Axle interval wise,Cumulative Speed of Multi Axle interval wise
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,34.767461,65.064762,25.655172,374.858975,301.299903,1126.410810,32.022956,34.767461,65.064762,25.655172
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,34.767461,137.331075,51.699513,162.715232,423.483118,833.341462,35.826645,0.000000,72.266312,26.044341
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,118.627701,168.882323,120.479101,458.199889,645.967017,741.968082,102.970440,83.860240,31.551249,68.779587
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,134.570558,247.907284,154.225772,574.630132,880.467623,743.819582,0.000000,15.942857,79.024961,33.746671
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,134.570558,307.995356,154.225772,383.649401,733.788227,895.376585,53.142857,0.000000,60.088072,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [42]:
def avg_speed_of_veh_5min(a,b):
    return a/b
df_1.insert(45,column='Avg Speed of Small Car',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Small Car interval wise'],df_1['Small Car interval wise']))
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Cumulative Speed of Single Axle,Cumulative Speed of Multi Axle,Cumulative Speed of Small Car interval wise,Cumulative Speed of Big Car interval wise,Cumulative Speed of Two Wheeler interval wise,Cumulative Speed of LCV interval wise,Cumulative Speed of Bus interval wise,Cumulative Speed of Single Axle interval wise,Cumulative Speed of Multi Axle interval wise,Avg Speed of Small Car
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,65.064762,25.655172,374.858975,301.299903,1126.410810,32.022956,34.767461,65.064762,25.655172,46.857372
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,137.331075,51.699513,162.715232,423.483118,833.341462,35.826645,0.000000,72.266312,26.044341,40.678808
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,168.882323,120.479101,458.199889,645.967017,741.968082,102.970440,83.860240,31.551249,68.779587,41.654535
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,247.907284,154.225772,574.630132,880.467623,743.819582,0.000000,15.942857,79.024961,33.746671,52.239103
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,307.995356,154.225772,383.649401,733.788227,895.376585,53.142857,0.000000,60.088072,0.000000,54.807057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN

In [43]:
df_1.insert(46,column='Avg Speed of Big Car',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Big Car interval wise'],df_1['Big Car interval wise']))
df_1.insert(47,column='Avg Speed of Two Wheeler',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Two Wheeler interval wise'],df_1['Two Wheeler interval wise']))
df_1.insert(48,column='Avg Speed of LCV',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of LCV interval wise'],df_1['LCV interval wise']))
df_1.insert(49,column='Avg Speed of Bus',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Bus interval wise'],df_1['Bus interval wise']))
df_1.insert(50,column='Avg Speed of Single Axle',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Single Axle interval wise'],df_1['Single Axle interval wise']))
df_1.insert(51,column='Avg Speed of Multi Axle',value=avg_speed_of_veh_5min(df_1['Cumulative Speed of Multi Axle interval wise'],df_1['Multi Axle interval wise']))

In [44]:
df_1 = df_1.fillna(0, limit=87)
df_1
def PCU(a,b):
    return (a/b)/5.36
df_1.insert(52,column='Small Car PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Small Car'])*5.36)
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Cumulative Speed of Single Axle interval wise,Cumulative Speed of Multi Axle interval wise,Avg Speed of Small Car,Avg Speed of Big Car,Avg Speed of Two Wheeler,Avg Speed of LCV,Avg Speed of Bus,Avg Speed of Single Axle,Avg Speed of Multi Axle,Small Car PCU
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,65.064762,25.655172,46.857372,37.662488,43.323493,32.022956,17.383730,21.688254,25.655172,1.0
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,72.266312,26.044341,40.678808,52.935390,46.296748,35.826645,0.000000,36.133156,26.044341,1.0
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,31.551249,68.779587,41.654535,49.689771,46.373005,34.323480,27.953413,15.775624,22.926529,1.0
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,79.024961,33.746671,52.239103,55.029226,49.587972,0.000000,15.942857,26.341654,16.873336,1.0
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,60.088072,0.000000,54.807057,52.413445,47.125083,53.142857,0.000000,30.044036,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_1.insert(53,column='Big Car PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Big Car'])*8.11)
df_1.insert(54,column='Two Wheeler PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Two Wheeler'])*1.2)
df_1.insert(55,column='LCV PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of LCV'])*12.81)
df_1.insert(56,column='Bus PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Bus'])*24.54)
df_1.insert(57,column='Single Axle PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Single Axle'])*17.63)
df_1.insert(58,column='Multi Axle PCU',value=PCU(df_1['Avg Speed of Small Car'],df_1['Avg Speed of Multi Axle'])*17.63)
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Avg Speed of Bus,Avg Speed of Single Axle,Avg Speed of Multi Axle,Small Car PCU,Big Car PCU,Two Wheeler PCU,LCV PCU,Bus PCU,Single Axle PCU,Multi Axle PCU
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,17.383730,21.688254,25.655172,1.0,1.882457,0.242142,3.497042,12.340840,7.106256,6.007455
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,0.000000,36.133156,26.044341,1.0,1.162728,0.196714,2.713604,inf,3.702967,5.137388
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,27.953413,15.775624,22.926529,1.0,1.268386,0.201101,2.900383,6.822401,8.684869,5.976013
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,15.942857,26.341654,16.873336,1.0,1.436344,0.235850,inf,15.001660,6.522892,10.183153
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,0.000000,30.044036,0.000000,1.0,1.582158,0.260376,2.464767,inf,6.000200,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
cols = ['Small Car PCU','Big Car PCU','Two Wheeler PCU','LCV PCU','Bus PCU','Single Axle PCU','Multi Axle PCU']
for i in range(87):
    for j in cols:
        if df_1[j][i] == np.inf:
            df_1[j][i] = 0
df_1

C:\Users\Rushitha.DESKTOP-1K8KA5S\AppData\Local\Temp\ipykernel_31632\2516745450.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1[j][i] = 0

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Avg Speed of Bus,Avg Speed of Single Axle,Avg Speed of Multi Axle,Small Car PCU,Big Car PCU,Two Wheeler PCU,LCV PCU,Bus PCU,Single Axle PCU,Multi Axle PCU
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,17.383730,21.688254,25.655172,1.0,1.882457,0.242142,3.497042,12.340840,7.106256,6.007455
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,0.000000,36.133156,26.044341,1.0,1.162728,0.196714,2.713604,0.000000,3.702967,5.137388
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,27.953413,15.775624,22.926529,1.0,1.268386,0.201101,2.900383,6.822401,8.684869,5.976013
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,15.942857,26.341654,16.873336,1.0,1.436344,0.235850,0.000000,15.001660,6.522892,10.183153
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,0.000000,30.044036,0.000000,1.0,1.582158,0.260376,2.464767,0.000000,6.000200,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
new_col=['Final PCU per 5min']
df_1['Final PCU per 5min'] = df_1['Small Car PCU']*df_1['Small Car interval wise'] + df_1['Big Car PCU']*df_1['Big Car interval wise'] + df_1['Two Wheeler PCU']*df_1['Two Wheeler interval wise'] + df_1['LCV PCU']*df_1['LCV interval wise'] + df_1['Bus PCU']*df_1['Bus interval wise']+df_1['Single Axle PCU']*df_1['Single Axle interval wise']+df_1['Multi Axle PCU']*df_1['Multi Axle interval wise']
df_1

,Sl.No,Lane,VehicleType,Entry,Exit,TravelTime,Speed(kmph),Time Interval,CumulativeEntryFlow,CumulativeExitFlow,...,Avg Speed of Single Axle,Avg Speed of Multi Axle,Small Car PCU,Big Car PCU,Two Wheeler PCU,LCV PCU,Bus PCU,Single Axle PCU,Multi Axle PCU,Final PCU per 5min
0,1,1,3,0.93,4.37,3.44,64.883721,300,52,49,...,21.688254,25.655172,1.0,1.882457,0.242142,3.497042,12.340840,7.106256,6.007455,84.860302
1,2,1,3,10.77,16.27,5.50,40.581818,600,84,83,...,36.133156,26.044341,1.0,1.162728,0.196714,2.713604,0.000000,3.702967,5.137388,32.099594
2,3,1,3,16.33,21.97,5.64,39.574468,900,136,134,...,15.775624,22.926529,1.0,1.268386,0.201101,2.900383,6.822401,8.684869,5.976013,95.172751
3,4,1,3,32.20,36.37,4.17,53.525180,1200,184,182,...,26.341654,16.873336,1.0,1.436344,0.235850,0.000000,15.001660,6.522892,10.183153,92.455892
4,5,1,4,34.20,41.17,6.97,32.022956,1500,226,225,...,30.044036,0.000000,1.0,1.582158,0.260376,2.464767,0.000000,6.000200,0.000000,48.562521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4739,4740,1,1,25951.52,25957.40,5.88,37.959184,1422000,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4740,4741,1,3,25959.32,25965.92,6.60,33.818182,1422300,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4741,4742,1,3,25960.28,25966.36,6.08,36.710526,1422600,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4742,4743,1,1,25963.48,25970.92,7.44,30.000000,1422900,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4743,4744,1,3,25972.08,25979.24,7.16,31.173184,1423200,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df_1.to_csv('Final_Output.csv')

In [49]:
final_df = pd.DataFrame()
final_df['PCU per 5 min'] = df_1['Final PCU per 5min']
final_df['Total PCU per hour'] = df_1['Final PCU per 5min']*12
final_df['SMS'] = df_1['SMS']
final_df['Density'] = final_df['Total PCU per hour']/final_df['SMS']
final_df['Flow'] = df_1['Exit Flow Per Hour']
final_df

      PCU per 5 min  Total PCU per hour        SMS    Density    Flow
0         84.860302         1018.323621  35.658440  28.557717  2940.0
1         32.099594          385.195124  43.354662   8.884745  2040.0
2         95.172751         1142.073017  35.714241  31.978085  3060.0
3         92.455892         1109.470702  41.358863  26.825464  2880.0
4         48.562521          582.750258  46.554133  12.517691  2580.0
...             ...                 ...        ...        ...     ...
4739            NaN                 NaN        NaN        NaN     0.0
4740            NaN                 NaN        NaN        NaN     0.0
4741            NaN                 NaN        NaN        NaN     0.0
4742            NaN                 NaN        NaN        NaN     0.0
4743            NaN                 NaN        NaN        NaN     0.0

[4744 rows x 5 columns]

In [51]:
final_df.to_csv('Final_Output2.csv')